
// html {
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }
.nav-container {
  background: black;
  color: white;
  padding-bottom: 10px;
}

.card-image {
  img {
    height: 250px;
    width: 250px; 
  }
}

nav 
{
  .brand-logo {
    i.material-icons {
      margin-right: 0px; 
    }
  }
  span.labs {
    left: 25%;
  } 
}
